# Ignorowanie zależności Node.js
/client/node_modules

# Ignorowanie wirtualnego środowiska Pythona
/server/venv/

# Ignorowanie folderów cache Pythona
**/__pycache__/

# Ignorowanie WSZYSTKICH plików .env w całym projekcie
**/.env

# Ignorowanie plików produkcyjnych frontendu
/client/build
/client/.git
